.sidebar .sidebar-logo {
  padding-top: 40%;
  background-color: var(--sidebar-active);
  margin: 0;
  box-sizing: border-box;
  background-image: url(_res/img/d120_logo/logo_schutzzone_inverted.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar .sidebar-scrollbox {
  margin-top: 40%;
}

dt {
  font-weight: bold;
}

img:not(.full-size) {
  margin: 0 auto;
  max-height: 40rem;
  display: block;
}

img[src*="lul_"] {
  max-height: 20rem;
}

@media(min-width: 40rem) {
  img[src*="lul_"] {
    float: left;
    margin: 0 5rem 1rem 0;
    max-width: 25rem;
  }
}

.label {
  display: block;
  font-weight: bold;
  text-align: center;
}
